@tailwind base;
@tailwind components;
@tailwind utilities;

.hover\:bg-btn-hover:hover {
  background-color: theme('colors.btn-hover') !important;
}

.hover\:bg-rose-500:hover {
  background-color: rgb(244, 63, 94) !important;
}

.hover\:text-btn-hover:hover {
  --tw-text-opacity: 1;
  color: rgb(5 150 105 / var(--tw-text-opacity)) !important;
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: theme('colors.btn-default') !important;
  border-color: theme('colors.btn-default') !important;
}

.ant-float-btn, .ant-float-btn-body {
  background-color: theme('colors.btn-default') !important;
}

.ant-float-btn-body:hover {
  background-color: theme('colors.btn-hover') !important;
}

.ant-btn-primary {
  background-color: theme('colors.btn-default') !important;
}

.ant-btn-primary:hover {
  background-color: theme('colors.btn-hover') !important;
}

:where(.css-dev-only-do-not-override-m4timi).ant-btn-default:not(:disabled):not(.ant-btn-disabled):hover {
  color: theme('colors.btn-default') !important;
}

.ant-checkbox:hover .ant-checkbox-inner {
  border-color: theme('colors.btn-default') !important;
}

.ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color: theme('colors.btn-default') !important;
}

.ant-input-outlined:focus-within  {
  border-color: theme('colors.btn-default') !important;
}

.ant-input:focus {
  border-color: theme('colors.btn-default') !important;
}

.ant-input-outlined:hover {
  border-color: theme('colors.btn-default') !important;
}

.ant-input-search >.ant-input-group >.ant-input-group-addon:last-child .ant-input-search-button:not(.ant-btn-primary):hover {
  color: theme('colors.btn-default') !important;
}

.ant-btn-default:not(:disabled):not(.ant-btn-disabled):hover {
  border-color: theme('colors.btn-default') !important;
}

.ant-select-outlined:not(.ant-select-disabled):not(.ant-select-customize-input):not(.ant-pagination-size-changer):hover .ant-select-selector {
  border-color: theme('colors.btn-default') !important;
}

.ant-select-focused .ant-select-selector {
  border-color: theme('colors.btn-default') !important;
}

.ant-select-dropdown .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  background-color: theme('colors.actiec-item') !important;
}

.ant-menu-item-selected {
  color: theme('colors.btn-default') !important;
  background-color: theme('colors.actiec-item') !important;
}

.ant-menu-light .ant-menu-submenu-selected >.ant-menu-submenu-title {
  color: theme('colors.btn-default') !important;
}

.tox-statusbar__branding {
  display: none !important;
}

.tox-statusbar__resize-handle {
  display: none !important;
}

.ant-modal {
  width: theme('width.modal-form') !important;
}

.ant-modal-body ol, ul, menu {
  padding-inline-start: 40px;
}

.text-sm ol, ul, menu {
  padding-inline-start: 40px;
}

.fr-wrapper td, .text-sm td {
  border-width: 1px !important;
}

